# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain module/user-generated content.
sites/*/files/color
sites/*/files/config_*
sites/*/files/css
sites/*/files/ctools
sites/*/files/js
sites/*/files/php
sites/*/files/private
sites/*/files/sources
sites/*/files/styles
sites/*/files/tmp
sites/*/files/xmlsitemap
sites/*/logs

# Ignore local development files and directories.
*~
.eslintrc
.idea/
sites/*/modules/*/devel*
sites/*/modules/*/simplehtmldom
sites/default/files
sites/localhost.*
